@import url(./hamburgernav.css);
@import url(./footer.css);
@import url(./payment.css);
@import url(./contactandabaout.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    color: #222;
    padding-bottom: 50px;
}

/* Home page Styling, Background Image*/

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image-main {
    position: relative;
    width: 100%;
    height: auto;
   margin-top: 60px;
}

.heading{
    color: white;
    position: absolute;top: 35%;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.btn1 {
position: absolute; top: 40%;
border-radius: 4px;
text-align: center;
margin-top: 1.3rem;
font-size: 30px;
font-weight: bold;
padding: 8px;
border-radius: 10px;
padding-left: 10px;
padding-right: 10px;
text-decoration: none;
}

.btn1 a {
  color: rgb(2, 2, 2);
  text-decoration: none;
}


ul{
    list-style: none;
    color: white;
    font-size: 10px;
}


  /* Jackets page*/ 

  .all-jacketsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 60px;
    place-items: center;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 80px;
}



.all-jackets h3 p {
position: absolute;
}



.image-container {
max-width: 400px;
}

.jackets {
    height: 450px;
    width: 100%;
    background-color: rgb(179, 177, 177);
    margin-right: 100px;
  }

  .border-box {
    background-color: rgb(222, 220, 220);
    margin-top: 10px;
    padding: 20px;
    position: relative;
}

.border-box h3 {
    padding-bottom: 5px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
    background-color: red;
}

.add-to-cart-btn a {
    text-decoration: none;
    color: white;
}

/*CSS for Jackets from 1-7 */

.product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 1000px;
  }

  .product-page a {
    text-decoration: none;
    color: white;
  }

.product-description {
  margin: 2rem auto;
  max-width: 800px;
  text-align: justify;
  line-height: 1.5;
  font-size: 1.1rem;
  color: #333;
}
  
  .product-image img {
    width: 100%;
    max-width: 500px;
    margin-right: 50px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  
  .product-details h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .product-details h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
  }
  
  select,
  input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #333;
  }
  

  